**/.git
**/.gitignore
**/.gitkeep
**/.editorconfig
**/.DS_Store
**/node_modules
**/dist
**/bin
**/obj
**/.npm-cache
**/.npm-logs
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.swp
**/.env
**/.env.local
**/secrets.json
**/appsettings.Production.json
docker/data
docs
README.md
